<mat-drawer-container autosize class="example-container">
	<mat-drawer сlass="example-sidenav" mode="side">
		<!-- <p>Auto-resizing sidenav</p>
		<button mat-raised-button>Toggle extra text</button> -->

		<mat-list appInsertShadow role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
		<!-- <ng-content select="navigation-list"></ng-content> -->
		<!-- <p #pEl>1</p>
		<p #pEl>2</p>
		<p #pEl>3</p>
		<p #pEl>4</p>
		<p #pEl>5</p>
		<p #pEl>6</p> -->
		<!-- <ng-container #viewContainer></ng-container> -->
	</mat-drawer>

	<div class="example-sidenav-content">
		<ng-content></ng-content>
	</div>
</mat-drawer-container>
