<mat-card class="example-card" (click)="didPurchase($event)">
	<mat-card-header>
		<mat-card-title>{{ productMock.name }}</mat-card-title>
	</mat-card-header>
	<img
		mat-card-image
		[src]="productMock.images[0].url"
		[alt]="productMock.name"
	/>
	<mat-card-content>
		<span>рейтинг:{{ productMock.rating }}</span>
	</mat-card-content>
	<mat-card-content>
		<strong>{{ productMock.price }}$</strong>
	</mat-card-content>
	<mat-card-actions>
		<button
			mat-raised-button
			color="primary"
			(click)="$event.stopPropagation()"
		>
			Купить
		</button>
	</mat-card-actions>
</mat-card>
