<mat-card class="card">
	<mat-card-header>
		<h1 class="card-header" [innerHTML]="product.name"></h1>
	</mat-card-header>
	<mat-card-content class="card-content">
		<img
			class="card-image"
			[src]="currImageSrc"
			alt="Product image"
			(click)="nextImg($event)"
		/>
		<p class="card-price">Price: {{ product.price }}</p>
		<div class="card-rating">
			<p class="card-rating-element" [innerHTML]="product.rating"></p>
			<mat-icon
				class="card-rating-element"
				aria-hidden="false"
				aria-label="Example home icon"
				fontIcon="star"
			></mat-icon>
			<p class="card-rating-element">
				({{ product.feedbacksCount }} feedbacks)
			</p>
		</div>
		<button
			class="card-button"
			mat-raised-button
			(click)="addToCard($event)"
		>
			Add to card
		</button>
	</mat-card-content>
</mat-card>
