<h1>Product list:</h1>
<div class="product-list">
	<app-product-card
		class="product-card"
		(click)="onCardClick()"
	></app-product-card>
	<app-product-card
		class="product-card"
		(click)="onCardClick()"
	></app-product-card>
	<app-product-card
		class="product-card"
		(click)="onCardClick()"
	></app-product-card>
	<app-product-card
		class="product-card"
		(click)="onCardClick()"
	></app-product-card>
	<app-product-card
		class="product-card"
		(click)="onCardClick()"
	></app-product-card>
	<app-product-card
		class="product-card"
		(click)="onCardClick()"
	></app-product-card>
</div>
