.popup-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffff;
	box-shadow: 0 5px 15px rgb(10 14 18 / 5%);
	border-radius: 4px;
	z-index: 100;
}
