<div *ngIf="products as productsFromNgIf; else loader" class="scroll-container">
	<div
	*appPagenator="
		let productsOnPage of products;
		pageSize: 2;
		let pageIndexes = pageIndexes;
		let currentPage = currentPage;
		let maxPage = maxPage;
		let next = next;
		let back = back;
		let toPage = toPage"
	>
		<div class="content">
			<app-product-card
				*ngFor="
					let product of productsOnPage;
					let index = index;
					trackBy: trackById;
					let first = first;
					let last = last;
					let even = even;
					let odd = odd
				"
				class="product"
				[product]="product"
			></app-product-card>
		</div>
		<div class="pagenator">
			<button mat-icon-button (click)="back()" [disabled]="currentPage === 0">
				<mat-icon> chevron_left </mat-icon>
			</button>
			<button
				*ngFor="let index of pageIndexes"
				mat-icon-button
				[disabled]="currentPage === index"
				(click)="toPage(index)"
			>
				{{ index + 1 }}
			</button>
			<button mat-icon-button (click)="next()" [disabled]="currentPage === maxPage">
				<mat-icon> chevron_right </mat-icon>
			</button>
		</div>
	</div>
</div>

<ng-template #loader>
	<mat-spinner></mat-spinner>
</ng-template>
