<app-header
	name="config"
	[applicationConfig]="applicationConfig"
	(menuClick)="sidenav.sidenavToggle()"
></app-header>
<!-- <app-sidenav
    [isSidenavOpened]="isSidenavOpened"
    (isSidenavOpenedChange)="isSidenavOpened = $event"
></app-sidenav> -->
<!-- <app-sidenav [(isSidenavOpened)]="isSidenavOpened"></app-sidenav> -->
<app-sidenav #sidenav>
	<p>Hello</p>
	<input />

	<div #h>
		<h1>H</h1>
	</div>

	<ng-template #navigationList>
		<!-- {{ applicationConfig.title }} -->
		<mat-list role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
	</ng-template>
</app-sidenav>
<!-- <app-products-list></app-products-list> -->

<button type="button" (click)="openPopup()">
	Показать попап 
</button>
	
<app-popup [popupTemplate]="popupTemplate" #popup [class]="popupClass"></app-popup>

<ng-template #popupTemplate>
    <div class="popup-content">
		<h1>Текст который отображается в попапе</h1>
		<button type="button" (click)="openPopup()">
			Скрыть попап 
		</button>
	</div>
</ng-template>
