<app-header
	[applicationConfig]="applicationConfig"
	(menuClick)="sidenav.sidenavToggle()"
></app-header>
<app-sidenav #sidenav>
	<!-- <div ngProjectAs="content"> -->
	<input />
	<app-products-list></app-products-list>
	<!-- </div> -->

	<!-- <ng-container ngProjectAs="navigation-list"> -->
	<!-- {{applicationConfig.title}} -->
	<!-- <mat-list appInsertShadow role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list> -->
	<!-- <p #pEl>1</p>
		<p #pEl>2</p>
		<p #pEl>3</p>
		<p #pEl>4</p>
		<p #pEl>5</p>
		<p #pEl>6</p> -->
	<!-- </ng-container> -->
</app-sidenav>
