<app-header name="config" [applicationConfig]="applicationConfig"></app-header>
<!-- <app-sidenav
    [isSidenavOpened]="isSidenavOpened"
    (isSidenavOpenedChange)="isSidenavOpened = $event"
></app-sidenav> -->
<!-- <app-sidenav [(isSidenavOpened)]="isSidenavOpened"></app-sidenav> -->
<!--<app-sidenav #sidenav>-->
<!--	<p>Hello</p>-->
<!--	<input />-->

<!--	<div #h>-->
<!--		<h1>H</h1>-->
<!--	</div>-->

<!--	<ng-template #navigationList>-->
<!--		{{ applicationConfig.title }}-->
<!--		<mat-list role="list">-->
<!--			<mat-list-item role="listitem">Item 1</mat-list-item>-->
<!--			<mat-list-item role="listitem">Item 2</mat-list-item>-->
<!--			<mat-list-item role="listitem">Item 3</mat-list-item>-->
<!--		</mat-list>-->
<!--	</ng-template>-->
<!--</app-sidenav>-->
<!-- <app-products-list></app-products-list> -->

<button
	mat-raised-button
	color="accent"
	(click)="popupHostComponent.toggleOpened()"
>
	Open popup
</button>

<!-- For Homework -->
<app-popup-host [popupTemplate]="template" #popupHostComponent></app-popup-host>

<ng-template #template>
	<strong class="mat-headline-7"
		>Lorem Ipsum - это текст-"рыба", часто используемый в печати и
		вэб-дизайне.</strong
	>
	<hr />
	<p>
		Lorem Ipsum является стандартной "рыбой" для текстов на латинице с
		начала XVI века. В то время некий безымянный печатник создал большую
		коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки
		образцов. Lorem Ipsum не только успешно пережил без заметных изменений
		пять веков, но и перешагнул в электронный дизайн.
	</p>

	<p>
		Его популяризации в новое время послужили публикация листов Letraset с
		образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы
		электронной вёрстки типа Aldus PageMaker, в шаблонах которых
		используется Lorem Ipsum.
	</p>
</ng-template>
