.product-card {
	max-width: 400px;
	margin-bottom: 8px;
}

.product-card__header-group {
	flex-direction: column;
	row-gap: 10px;
	margin-bottom: 10px;
}

.product-card__header-subtitle {
	display: flex;
	font-size: 18px;
	font-weight: 700;
}

.product-card__header-image {
	margin: 0 auto;
}

.product-card__content {
	padding: 10px;
}

.product-card__footer {
	padding: 10px;
	display: flex;
	column-gap: 10px;
	background-color: #efefef;
	justify-content: right;
}

.product-card__rate {
	display: flex;
	align-items: center;
	column-gap: 5px;

	.mat-icon.mat-ligature-font[fontIcon]::before {
		color: gold;
	}
}

.product-card__feedback {
	display: flex;
	align-items: center;
	column-gap: 5px;

	.mat-icon.mat-ligature-font[fontIcon]::before {
		color: #6a6aff;
	}
}

.product-card__buy-button {
	color: red;
}
