:host {
	&:hover {
		img {
			opacity: 0.7;
		}
		.slider-actions {
			display: flex;
		}
	}
	img {
		transition: opacity 0.3s, visibility 0s linear 0.3s;
		cursor: pointer;
	}
}
.example-card {
	max-width: 400px;
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	img {
		width: 128px;
		height: 128px;
	}
}

.actions-left {
	margin-left: auto;
}

.slider-actions {
	position: absolute;
	top: 50%;
	width: 100%;
	display: none;
}

mat-card-title {
	font-size: 14px;
}
