<mat-card class="product-card">
	<mat-card-header>
		<mat-card-title class="product-name">{{
			productMock.name
		}}</mat-card-title>
	</mat-card-header>
	<img mat-card-image [src]="productMock.images.at(0)?.url" />
	<mat-card-header class="product-footer">
		<mat-card-subtitle class="product-rating">
			Рейтинг: {{ productMock.rating }}/5
		</mat-card-subtitle>
		<mat-card-title class="product-price">
			Цена: {{ productMock.price }} рублей
		</mat-card-title>
	</mat-card-header>
	<mat-card-actions>
		<button
			class="product-buyButton"
			mat-button
			[id]="productMock._id"
			(click)="buyProduct(productMock._id); $event.stopPropagation()"
		>
			Купить
		</button>
	</mat-card-actions>
</mat-card>
